.main-container{
  max-width: 100%;
  padding: 0 15px;
  @include center();
  //border: 1px solid yellow;

  @include respond-min(1340){
    max-width: 1300px;
  }
}

.main-container--fluid{
  width: 100%;
  padding: 0 15px;
}
