.page-section{
  height: 100vh;
  min-height: 640px;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  padding-top: 100px;

  @include respond-min(992){
    padding-top: 140px;
  }
}