.footer.section.fp-section{
  height: auto !important;

  .fp-tableCell{
    height: auto !important;
  }
}

.counter-section.fp-section{
  height: auto !important;

  .fp-tableCell{
    height: auto !important;
  }
}

.about-page.fullpage{
  @include respond-max(992){
    @include display-flex();
    @include flex-direction-col();

    .section{
    height: auto !important;
    min-height: 100vh !important;
    }
  }
}
