.fullpage {

  &.contact{

    .page-section__footer{
      height: auto !important;
      min-height: 100px !important;

      .fp-tableCell {
        height: auto !important;
      }
    }
  }

  @include respond-max(992) {
    height: auto !important;
    @include display-flex();
    @include flex-direction-col();

    .section {
      height: auto !important;
      min-height: 100vh !important;
      &.section__hero{
        height: 100vh !important;
        min-height: 640px !important;
      }
      &.services-lifestyle{
        height: 100vh !important;
      }
    }
  }
}
